// Base

::-webkit-input-placeholder {
    color: fade(white, 40%) !important;
}

::-webkit-scrollbar {
    background-color: @app-background-color;
    width: 12px;
    height: 12px;
    &-corner {
        background-color: @app-background-color;
    }
    &-thumb {
        background-color: lighten(@app-background-color, 10%);
    }
}
body {
    font-size: @font-size;
    color: @text-color;

    a {
        color: lighten(@pink, 10%);

        &:hover {
            color: @pink;
        }
    }

    .input-text {
        border: 0;
        background-color: @outer-atom-background;
    }

    atom-notifications {
        z-index: 9999999999999999;
    }

    atom-workspace {
        background-color: @outer-atom-background;
        padding: 20px;

        .item-views,
        atom-panel,
        atom-panel-container {
            border: 0 !important;

        }

        code {
            background-color: lighten(@gray, 20%);
        }

        span {
            color: lighten(@gray, 80%);
            &.badge {
                background-color: lighten(@gray, 20%);
            }
        }
    }
}
