// basic editor rules

atom-text-editor {

    &.mini {
        padding: 8px 8px 8px 20px;
        background-image: none;
        border: 0 !important;
        margin: 0;

        &.is-focused {
            border: 0;
            box-shadow: none !important;
        }
        max-height: 50px;
    }
}
