// Git

.status {
    color: @text-color;
}

.status-added {
    color: @green;
}
// green

.status-ignored {
    color: @text-color-subtle;
}
// faded

.status-modified {
    color: @orange;
}
// orange

.status-removed {
    color: @red;
}
// red

.status-renamed {
    color: @purple;
}
// blue
.github-CommitView {
    background-color: @outer-atom-background;

    .github-CommitView-editor {
        background-color: transparent;
        background-color: none;
        border: 0;
        padding: 0;

        .editor {
            padding: 10px 20px;
            border-radius: 50px;
            height: 50px;
        }
    }
}

.github-StagingView {
    &:focus {
        .github-StagingView-group {
            &.is-focused {
                .is-selected {
                    background-color: @background-color-highlight;
                }
            }
        }
    }

    .github-StagingView-group {
        &.is-focused {
            .is-selected {
                background-color: fade(white, 10%);
            }
        }

        &.github-StagedChanges {
            background-color: @app-background-color;

            header {
                background-color: darken(@app-background-color, 20%);
            }
        }

        &.github-UnstagedChanges {
            background-color: lighten(@app-background-color, 24%);

            header {
                background-color: lighten(@app-background-color, 22%);
            }
        }
    }
}

.github-FilePatchView {
    &:focus {
        .github-HunkView.is-selected.is-hunkMode {
            .github-HunkView-header,
            .github-HunkView-title {
                background-color: black;
                color: inherit;
            }
        }
    }

    .github-HunkView-line {
        &.is-selected {
            background-color: black;

            &.is-deleted {
                .github-HunkView-lineNumber {
                    background-color: @red;
                }
            }

            &.is-added {
                .github-HunkView-lineNumber {
                    background-color: @green;
                }
            }

            &.is-modified {
                .github-HunkView-lineNumber {
                    background-color: @blue;
                }
            }
        }
    }
}

.github-HunkView {
    border-bottom: 15px solid @outer-atom-background;
}

.github-StatusBarTileController-tooltipMenu {
    &.in {
        opacity: 1;
        .tooltip-arrow.tooltip-arrow {
            background-color: @tooltip-color !important;
            border-color: @tooltip-color;
        }
        .tooltip-inner.tooltip-inner {
            background-color: @tooltip-color !important;
            border-color: @tooltip-color;
            padding-right: 15px;

            .btn {
                background-color: black;

                &.github-PushPullMenuView-push {
                    border-left: 3px solid @tooltip-color;
                }

                &:hover {
                    background-color: #333;
                }
            }
        }

        .github-PushPullMenuView .icon-mark-github::before {
            color: white;
        }
    }
}

.github-PrPaneItem {
    padding: 30px 0;

    .github-PrPaneItem-container {
        max-width: 100%;

        .issueish-avatar-and-title {
            padding: 10px;
            background-color: rgba(255, 255, 255, 0.15);
            border-bottom: 0;
        }

        .github-DotComMarkdownHtml,
        .issueish-avatar-and-title,
        .issueish-badge-and-link {
            margin: 0 30px 20px;
        }

        .github-PrTimeline {
            > * {
                margin: 0;
                padding: 30px 30px 30px 50px;
                border-bottom: 0;

                &:nth-of-type(n) {
                    background-color: desaturate(@red, 20%);
                }

                &:nth-of-type(7n-5) {
                    background-color: desaturate(@orange, 20%);
                }

                &:nth-of-type(7n-4) {
                    background-color: desaturate(@yellow, 20%);
                }

                &:nth-of-type(7n-3) {
                    background-color: desaturate(@green, 20%);
                }

                &:nth-of-type(7n-2) {
                    background-color: desaturate(@blue, 20%);
                }

                &:nth-of-type(7n-1) {
                    background-color: desaturate(@purple, 20%);
                }

                &:nth-of-type(7n) {
                    background-color: desaturate(@pink, 20%);
                }
            }
        }
    }
}

.github-PrInfo {
    .commit-count,
    .conversation,
    .file-count,
    .labels,
    .meta-info,
    .reactions {
        border: 0;
        padding: 10px 14px;
        background-color: none;
        background-color: lighten(@app-background-color, 6%);

        &:nth-of-type(odd) {
            background-color: lighten(@app-background-color, 11%);
        }

        &:empty {
            background-color: transparent !important;
            background-color: none !important;
        }
    }
}
