// Tabs

.tab-bar {
    padding-top: 14px;
    background-color: transparent;
    background-color: none;
    overflow-x: auto;
    overflow-y: hidden;

    .tab {
        cursor: pointer;
        margin-top: 0;
        min-width: 100px;
        border-radius: 20px 20px 0 0;
        color: rgba(255,255,255,0.7);

        &[data-type="ResultsPaneView"], &[data-type="IssueishPaneItem"] {
            &:after {
                position: absolute;
                display: block;
                top: -5px;
                left: 0;
                right: 0;
                margin: auto;
                text-align: center;
                vertical-align: middle;
                font-family: 'Octicons Regular';
                border-radius: 50%;
                line-height: 19px;
                font-size: 14px;
                width: 21px;
                height: 21px;
                background-color: inherit;
                border: 1px solid;
            }
        }
        &[data-type="IssueishPaneItem"] {
            &:after {
                content: "\f008";
            }
        }
        &[data-type="ResultsPaneView"] {
            &:after {
                content: "\f02e";
            }
        }
        &:before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            border-radius: inherit;
            background-color: fade(black, 60%);
        }

        &:hover {
            &:before {
                background-color: fade(black, 30%);
            }
        }

        &:not(.active) {
            color: rgba(255,255,255,0.7);
        }

        &:nth-of-type(n) {
            background-color: desaturate(@red, 20%);

            .close-icon:hover {
                color: desaturate(@red, 20%);
            }
        }

        &:nth-of-type(7n-5) {
            background-color: desaturate(@orange, 20%);

            .close-icon:hover {
                color: desaturate(@orange, 20%);
            }
        }

        &:nth-of-type(7n-4) {
            background-color: desaturate(@yellow, 20%);

            .close-icon:hover {
                color: desaturate(@yellow, 20%);
            }
        }

        &:nth-of-type(7n-3) {
            background-color: desaturate(@green, 20%);

            .close-icon:hover {
                color: desaturate(@green, 20%);
            }
        }

        &:nth-of-type(7n-2) {
            background-color: desaturate(@blue, 20%);

            .close-icon:hover {
                color: desaturate(@blue, 20%);
            }
        }

        &:nth-of-type(7n-1) {
            background-color: desaturate(@purple, 20%);

            .close-icon:hover {
                color: desaturate(@purple, 20%);
            }
        }

        &:nth-of-type(7n) {
            background-color: desaturate(@pink, 20%);

            .close-icon:hover {
                color: desaturate(@pink, 20%);
            }
        }

        &.active {
            color: white;
            > .close-icon {
                color: #fff;
            }

            &:before {
                background-color: none;
            }

            &:not(:only-child) {
                padding-top: 14px;
                margin-top: -14px;

            }
            &:after {
                top: 9px;
            }
            .close-icon {
                top: 32px !important;
            }
        }

        > .title {
            font-family: 'Consolas';
            padding: 20px 0 5px;
            position: relative;
            background-color: transparent !important;
        }


        .close-icon {
            z-index: 22;
            text-align: center;
            line-height: 15px;
            color: rgba(255,255,255,0.7);
            border-radius: 50%;
            height: 15px !important;
            width: 15px !important;
            top: 18px !important;
            right: 7px !important;

            &:hover {
                background-color: white;
            }
        }
        // Modified Icon (the blue circle) -------------------

        // Dragging styles get applied while dragging a tab
        &.is-dragging {
            background-color: darken(@tab-background-color, 10%);
            border-color: transparent;
            opacity: 0.5;

            & .close-icon {
                visibility: hidden;
            }
        }
    }
}
